.featureContainer {
  width: 75%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.feature {
  cursor: pointer;
  filter: drop-shadow(15px, 15px, 10px, rgba(0, 0, 0, 255));
}

.feature:hover {
  filter: drop-shadow(15px, 15px, 10px, rgba(0, 0, 0, 1));
}

.featureSvg {
  height: 200px;
  width: 200px;
}
