.row {
  display: flex;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  padding: 15px;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  min-height: 100px;
  max-height: 100%;
  overflow: auto;
}

.comments {
  /* display: flex;
  flex-direction: column; */
  /* overflow-y: scroll; */
}

.commentContainer {
  background-color: rgb(45, 45, 45);
  border-radius: 5px;
  overflow: clip;
}

.commentHeader {
  background-color: rgb(15, 15, 15);
  padding: 5px 10px;
}

.commentContent {
  padding: 10px;
}

.commentConnector {
  width: 5px;
  height: 30px;
  background-color: rgb(40, 40, 40);
  margin-left: 20px;
}

.postContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.editorContainer {
  height: 100%;
}

.markdownEditor {
  /* background-color: rgb(40, 40, 40); */
  border:  solid 1px rgb(80, 80, 80);
  height: 100%;
  border-radius: 5px;
}

.buttonContainer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
