.container {
  min-height: 100px;
  border: solid rgb(40, 40, 40) 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

.container:hover {
  background-color: rgba(60, 60, 60, 0.5);
}

.contentContainer {
  height: 100%;
  /* max-height: 100px; */
  box-sizing: border-box;
}

.bottomBar {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.bottomElement {
  display: flex;
  gap: 5px;
}
