.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.row {
  display: flex;
  gap: 15px;
  padding: 10px;
}
