.warehouseBackground {
  position: relative;
  background-image: url(/img/splash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(10, 10, 10);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.warehouseBackground::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, rgba(20, 32, 46, 0.6) 0%, rgba(20, 32, 46, 0.8) 100%);
}
